.new-game-controls{
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.new-game-control{
    margin: 10px;
}

.new-game-actions{
    display: flex;
    justify-content: space-between;
}

.cancel-btn{
    background-color: red;
    width: 130px;
    color: white;
    border-radius: 10px;
    margin: 5%;
}

.accept-btn{
    background-color: green;
    width: 130px;
    color: white;
    border-radius: 10px;
    margin: 5%;
}

.gameABM{
    color: green;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    border-style: solid;
}